a2wsgi==1.10.7
argcomplete==3.5.1
async_timeout==5.0.0
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
cryptography==43.0.3
curio==1.6
cx_Oracle==8.3.0
cython==3.0.11
docutils==0.21.2
email_validator==2.2.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
fastapi_cli==0.0.5
filelock==3.16.1
gunicorn==23.0.0
h2==4.1.0
HTMLParser==0.0.2
httptools==0.6.4
hypothesis==6.116.0
importlib_metadata==8.5.0
ipython==8.29.0
ipywidgets==8.1.5
itsdangerous==2.2.0
Jinja2==3.1.4
jnius==1.1.0
js==1.0
keyring==25.5.0
multipart==1.1.0
numpy==2.1.3
objgraph==3.6.2
orjson==3.10.11
outcome==1.3.0.post0
pexpect==4.9.0
Pillow==11.0.0
protobuf==5.28.3
psutil==6.1.0
pyodide==0.0.2
pyOpenSSL==24.2.1
pysqlcipher3==1.2.0
python_multipart==0.0.17
PyYAML==6.0.2
redis==5.2.0
simplejson==3.19.3
socksio==1.0.0
Sphinx==8.1.3
sqlcipher3==0.5.4
thread==2.0.5
toml==0.10.2
Twisted==24.10.0
ujson==5.10.0
urllib3_secure_extra==0.1.0
watchfiles==0.24.0
watchgod==0.8.2
wsproto==1.2.0
xmlrpclib==1.0.1
zope==5.11
zstandard==0.23.0
